
.depoiments {
    padding-bottom: 4rem;
    background-color: var(--quinta-cor);
}

.depoiments h2 {
    text-align: center;
}

.depoiments_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    gap: 6rem;
}

.depoiments_cards_unitary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 570px;
    border-radius: 16px;
    background-color: var(--oitava-cor);
    box-shadow: 1px 1px 15px var(--decima-segunda-cor);
}

.avatar {
    position: relative;
    top: -40px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid var(--primeira-cor);
}

.avatar:hover {
    scale: calc(1.1);
    transition: 0.5s;
}

.depoiments_cards_unitary h3 {
    font-size: 17px;
    font-weight: 700;
}

.depoiments_cards_unitary h4 {
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.4rem;
}

.redes {
    width: 30px;
    height: 30px;
    padding-bottom: 1rem;
}

.depoiments_cards_unitary a {
    color: unset;
    text-decoration: none;
}

.depoiments_cards_unitary p {
    text-align: center;
    font-size: 14px;
    padding: 1rem 1rem;
    line-height: 1.15rem;
    margin-top: 0.3rem;
}