
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
}

#tittle {
    font-size: 1.25rem;
}

#tittle.dark {
    color: var(--primeira-cor);
}

.trilho {
    width: 5rem;
    height: 3.125rem;
    background-color: var(--segunda-cor);
    border-radius: 9.375rem;
    position: relative;
    cursor: pointer;
}

.trilho_indicator {
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--terceira-cor);
    border-radius: 50%;
    transform: scale(.85);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark {
    background-color: var(--quarta-cor);
}

.trilho.dark .trilho_indicator {
    left: 1.875rem;
    background-color: var(--primeira-cor);
}