@import url(../style/header.css);
@import url(../style/main.css);
@import url(../style/knowledge.css);
@import url(../style/projects.css);
@import url(../style/timeline.css);
@import url(../style/depoiments.css);
@import url(../style/footer.css);

:root {
    --fonte-principal: "Nunito", sans-serif;
    --cor-principal: #303030;
    --primeira-cor: #f6f6f6;
    --segunda-cor: #4d4d4d;
    --terceira-cor: #141414;
    --quarta-cor: #c3c3c3;
    --quinta-cor: #70707033;
    --sexta-cor: #d1d5db4d;
    --setima-cor: #cc9900;
    --oitava-cor: #f0eeeee0;
    --nona-cor: #a9a9a9;
    --decima-cor: #4d4d4d9f;
    --decima-primeira-cor: #83838300;
    --decima-segunda-cor: #525252;
    --decima-terceira-cor: #ff9a44;
    --decima-quarta-cor: #6b8dd6;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: var(--fonte-principal);
    background-color: var(--primeira-cor);
    transition: 0.5s;
}

body.dark {
    background-color: var(--cor-principal);
}

body.dark h1,
body.dark h2 {
    color: var(--primeira-cor);
}



@media screen and (max-width: 650px) {
    .timeline {
        font-size: 14px;
    }
    
    .point {
        min-width: 12px;
        height: 12px;
    }
}



@media screen and (max-width: 800px) {
    .point {
        display: block;
        min-width: 15px;
        height: 15px;
        position: relative;
        left: 1px;
    }

    .timeline {
        font-size: 15px;
    }
}



@media screen and (min-width: 1920px) {

    header {
        display: flex;
        align-items: center;
        margin: 2rem;
    }    
    
    /* Main */
    
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        padding: unset;
    }
    
    .photo {
        width: 32rem;
        height: 45rem;
        padding-left: 5rem;
        position: relative;
        top: -40px;
    }
    
    main h1 {
        font-size: 1.5rem;
    }
    
    #text {
        display: block;
        line-height: 1.5rem;
    }

    br {
        display: unset;
    }
    
    /* Knowledge */
    
    .knowledge h2 {
        font-size: 4.5rem;
    }

    #subtittle {
        font-size: 1.8rem;
    }
    
    .knowledge__cards {
        justify-content: space-around;
        gap: 2rem;
        flex-wrap: wrap;
        margin: 2rem 15rem;
    }
    
    .cards {
        width: 300px;
        height: 250px;
        gap: 0.8rem;
    }
    
    /* Seção Projects */
    
    .projects {
        margin-top: 5rem;
    }
    
    /* Seção Projects - Slider */
    
    .slider {
        margin-top: 6rem;
        height: 700px;
    }
    
    .item {
        width: 600px;
        left: calc(50% - 300px);
    }
    
    .pages {
        height: 60%;
        border-radius: 5px;
        padding-bottom: 1rem;
    }
    
    #next, #prev{
        top: 40%;
        left: 400px;
    }
    
    #next{
        left: unset;
        right: 400px;
    }
    
    #final_text {
        position: relative;
        top: -50px;
    }
    
    #git:hover {
        font-size: larger;
        transition: 0.5s;
    }

    /* Timeline */

    .timeline {
        font-size: unset;
    }

    .timeline p {
        padding: unset;
    }

    .point {
        position: relative;
        left: 1px;
    }

    /* Depoiments */
      
    .depoiments_cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3rem 0 4rem 0;
    }

    .depoiments_cards h4 {
        font-size: smaller;
    }

    .depoiments_cards p {
        line-height: 1.15rem;
    }
    
    #second, #fourth {
        position: relative;
        top: 40px;
    }
    
    /* Footer */
    
    footer {
        height: 200px;
    }
    
    footer p {
        width: 50%;
    }
}

