:root {
    --fonte-principal: "Nunito", sans-serif;
    --cor-principal: #303030;
    --primeira-cor: #f6f6f6;
    --segunda-cor: #4d4d4d;
    --terceira-cor: #141414;
    --quarta-cor: #c3c3c3;
    --quinta-cor: #70707033;
    --sexta-cor: #d1d5db4d;
    --setima-cor: #cc9900;
    --oitava-cor: #f0eeeee0;
    --nona-cor: #a9a9a9;
    --decima-cor: #4d4d4d9f;
    --decima-primeira-cor: #83838300;
    --decima-segunda-cor: #525252;
    --decima-terceira-cor: #ff9a44;
    --decima-quarta-cor: #6b8dd6;
}

html {
    scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--fonte-principal);
    background-color: var(--primeira-cor);
    transition: 0.5s;
}

body.dark {
    background-color: var(--cor-principal);
}

body.dark h1,
body.dark h2 {
/* body.dark p */ 
    color: var(--primeira-cor);
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
}

header .tittle {
    font-size: 20px;
}

#tittle.dark {
    color: var(--primeira-cor);
}

.trilho {
    width: 80px;
    height: 50px;
    background-color: var(--segunda-cor);
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .trilho_indicator {
    width: 50px;
    height: 50px;
    background-color: var(--terceira-cor);
    border-radius: 50%;
    transform: scale(.85);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark {
    background-color: var(--quarta-cor);
}

.trilho.dark .trilho_indicator {
    left: 30px;
    background-color: var(--primeira-cor);
}


/* Main */

.main {
    display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
}

.container_principal {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48rem;
	background: var(--quinta-cor);
    position: relative;
}

.container_photo {
    width: 32rem;
    height: 45rem;
    margin: 3rem;
    position: relative;
    top: 22px;
}

.container_principal h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

span {
    color: var(--setima-cor);
}

span.dark {
    color: var(--decima-quarta-cor);
}

.container_text {
    display: block;
    text-align: center;
    line-height: 1.5rem;
}

#text.dark {
    color: var(--primeira-cor);
}

#btn, #btn2 {
    padding: 0.5rem 1rem;
    width: 10rem;
    margin: auto 2rem;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primeira-cor);
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#btn2:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#btn:focus {
    outline: none;
}

#btn2:focus {
    outline: none;
}

#btn, #btn2 {
    background-image: linear-gradient(
      to right,
      #fc6076,
      #ff9a44,
      #ef9d43,
      #e75516
    );
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

#btn.dark {
    background-image: linear-gradient(
      to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

#btn2.dark {
    background-image: linear-gradient(
      to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

/* Knowledge */

.knowledge {
    width: 100%;
    height: 700px;
}

.knowledge__tittle {
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 4.5rem;
    font-weight: lighter;
    padding-top: 4rem;
}

.knowledge__tittle p {
    font-size: 2.5rem;
    font-weight: lighter;
}

#subtittle.dark {
    color: var(--primeira-cor);
}

.knowledge__cards {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.cards_container_one, .cards_container_two {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

.cards_container_two {
    filter: blur(3px);
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 250px;
    background-color: var(--oitava-cor);
    border-radius: 1.7rem;
    gap: 0.8rem;
}

.cards:hover {
    scale: calc(1.1);
    transition: 0.5s;
}

.cards h3 {
    font-size: 25px;
    font-weight: 300;
}

.cards.dark p { /* teste */
    color: var(--cor-principal);
}

.simbols {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    background-color: var(--nona-cor);
    border-radius: 16px;
}

/* Seção Projects */

.projects {
    margin-top: 13rem;
    width: 100%;
    height: 1000px;
    background-color: var(--quinta-cor)
}

.projects, h2 {
    text-align: center;
}

/* Seção Projects - Slider */

.slider {
    position: relative;
    margin-top: 10rem;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.item {
    position: absolute;
    width: 600px;
    height: 520px;
    text-align: center;
    background-color: var(--decima-cor);
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 300px);
    top: 0;
    border: 1px solid var(--decima-primeira-cor);
}

.pages {
    border-radius: 5px;
    padding-bottom: 1rem;
}

.teste {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}

.usadas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-image: linear-gradient(
        to right,
        #ff9a44,
        #ef9d43,
        #e75516
      );
      box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    border-radius: 50%;
}

/* resolver isso */
.usadas.dark {
    background-image: linear-gradient(
      to right,
      #667eea,
      /* #764ba2, */
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 #8e37d7;
}

.technologies {
    scale: calc(-0.7);
}

.item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primeira-cor);
}

.item p {
    font-size: 1rem;
    padding-top: 0.4rem;
    color: var(--primeira-cor);
}

#next, #prev{
    position: absolute;
    top: 40%;
    color: var(--decima-segunda-cor);
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 400px;
}

#next{
    left: unset;
    right: 400px;
}

#next, #prev:hover {
    cursor: pointer;
}

#final_text {
    text-align: center;
    position: relative;
    font-weight: 600;
    top: -100px;
}

#final_text.dark {
    color: var(--primeira-cor);
}

#git {
    text-decoration: none;
    color: inherit;
}

#git:hover {
    font-size: larger;
    transition: 0.5s;
}

.depoiments {
    height: 850px;
}

.depoiments h1 {
    text-align: center;
}

.depoiments_cards {
    display: flex;
    width: 950px;
    margin: 0 auto;
    padding: 8rem 0;
    gap: 2rem;
}

.depoiments_cards_first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border-radius: 16px;
    background-color: var(--oitava-cor);
    box-shadow: 1px 1px 15px var(--decima-segunda-cor);
}

#second, #fourth {
    position: relative;
    top: 40px;
}

#avatar {
    position: relative;
    top: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 1px solid var(--primeira-cor);
}

#avatar:hover {
    scale: calc(1.1);
    transition: 0.5s;
}

hr {
    width: 40px;
    position: relative;
    top: -40px;
}

.depoiments_cards_tittle {
    font-size: 17px;
    font-weight: 700;
}

.depoiments_cards_first p {
    text-align: center;
    font-size: 14px;
    padding: 1rem 2rem;
}

footer {
    display: block;
    justify-items: center;
    height: 200px;
    background-color: var(--decima-cor);
}

footer p {
    text-align: center;
    padding: 0.5rem 0 1.5rem 0;
    margin: 0 auto;
    width: 50%;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primeira-cor);
}

footer img {
    margin: 2rem 1rem 1rem 1rem;
}