:root {
    --fonte-principal: "Nunito", sans-serif;
    --cor-principal: #303030;
    --primeira-cor: #f6f6f6;
    --segunda-cor: #4d4d4d;
    --terceira-cor: #141414;
    --quarta-cor: #c3c3c3;
    --quinta-cor: #70707033;
    --sexta-cor: #d1d5db4d;
    --setima-cor: #cc9900;
    --oitava-cor: #f0eeeee0;
    --nona-cor: #a9a9a9;
    --decima-cor: #4d4d4d9f;
    --decima-primeira-cor: #83838300;
    --decima-segunda-cor: #525252;
    --decima-terceira-cor: #ff9a44;
    --decima-quarta-cor: #6b8dd6;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: var(--fonte-principal);
    background-color: var(--primeira-cor);
    transition: 0.5s;
}

body.dark {
    background-color: var(--cor-principal);
}

body.dark h1,
body.dark h2 {
    color: var(--primeira-cor);
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
}

#tittle {
    font-size: 1.25rem;
}

#tittle.dark {
    color: var(--primeira-cor);
}

.trilho {
    width: 5rem;
    height: 3.125rem;
    background-color: var(--segunda-cor);
    border-radius: 9.375rem;
    position: relative;
    cursor: pointer;
}

.trilho_indicator {
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--terceira-cor);
    border-radius: 50%;
    transform: scale(.85);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark {
    background-color: var(--quarta-cor);
}

.trilho.dark .trilho_indicator {
    left: 1.875rem;
    background-color: var(--primeira-cor);
}

/* Main */

main {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 10% 10% 0 10%;
    background: var(--quinta-cor);
}

#text {
    text-align: center;
    line-height: 1.2rem;
}

main h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

span {
    color: var(--setima-cor);
}

span.dark {
    color: var(--decima-quarta-cor);
}

br {
    display: none;
}

#text.dark {
    color: var(--primeira-cor);
}

main img {
    width: 120%;
    height: 120%;
    position: relative;
    left: -10%;
}

.buttons {
    padding: 1.2rem;
}

#btn, #btn2 {
    padding: 0.5rem 1rem;
    width: 10rem;
    margin: auto 2rem;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primeira-cor);
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #fc6076,
      #ff9a44,
      #ef9d43,
      #e75516
    );
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/* verificar se tem como unir dois IDs no hover */
#btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#btn2:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#btn:focus {
    outline: none;
}

#btn2:focus {
    outline: none;
}

#btn.dark {
    background-image: linear-gradient(
      to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

#btn2.dark {
    background-image: linear-gradient(
      to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

/* Knowledge */

.knowledge__tittle {
    text-align: center;
}

h2 {
    font-size: 3.5rem;
    font-weight: lighter;
    padding-top: 4rem;
}

#subtittle {
    font-size: 1.5rem;
    font-weight: lighter;
}

#subtittle.dark {
    color: var(--primeira-cor);
}

.knowledge__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    background-color: var(--oitava-cor);
    border-radius: 1.7rem;
    padding: 1.1rem;
    gap: 1.1rem;
}

.cards:hover {
    scale: calc(1.1);
    transition: 0.5s;
}

.simbols {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    background-color: var(--nona-cor);
    border-radius: 16px;
}

.cards h3 {
    font-size: 25px;
    font-weight: 300;
}

.cards p {
    text-align: center;
}

.cards.dark p { /* teste */
    color: var(--cor-principal);
}

#ts, #rea, #bs {
    filter: blur(3px);
}

/* Seção Projects */

.projects {
    margin-top: 2.5rem;
    background-color: var(--quinta-cor)
}

.projects h2 {
    text-align: center;
}

/* Seção Projects - Slider */

.slider {
    position: relative;
    margin-top: 4rem;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.item {
    position: absolute;
    width: 325px;
    height: 520px;
    text-align: center;
    background-color: var(--decima-cor);
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: 10px;
    top: 0;
    border: 1px solid var(--decima-primeira-cor);
}

.pages {
    width: 100%;
    height: 40%;
    border-radius: 10px;
    padding-bottom: 4rem;
}

.teste {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}

.usadas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-image: linear-gradient(
        to right,
        #ff9a44,
        #ef9d43,
        #e75516
      );
      box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    border-radius: 50%;
}

.usadas.dark {
    background-image: linear-gradient(
      to right,
      #667eea,
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 #8e37d7;
}

.technologies {
    scale: calc(-0.7);
}

.item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primeira-cor);
}

.item.dark h3,
.item.dark p {
    color: var(--cor-principal);
}

.item p {
    font-size: 1rem;
    padding-top: 0.4rem;
    color: var(--primeira-cor);
    line-height: 1.2rem;
}

.item.dark {
    background-color: #f0eeee77;
    
}

#next, #prev {
    position: absolute;
    top: 90%; /*40%*/
    color: var(--decima-segunda-cor);
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 10%
    /*left: 10px; /*400%*/
}

#next{
    left: unset;
    right: 10%;
}

#next, #prev:hover {
    cursor: pointer;
}

#final_text {
    text-align: center;
    font-weight: 600;
    padding-bottom: 4rem;
}

#final_text.dark {
    color: var(--primeira-cor);
}

#git {
    text-decoration: none;
    color: inherit;
}

#git:hover {
    font-size: larger;
    transition: 0.5s;
}

/* Depoiments */

.depoiments {
    padding-bottom: 4rem;
}

.depoiments h2 {
    text-align: center;
}

.depoiments_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    gap: 6rem;
}

.depoiments_cards_first {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    border-radius: 16px;
    background-color: var(--oitava-cor);
    box-shadow: 1px 1px 15px var(--decima-segunda-cor);
}

#avatar {
    position: relative;
    top: -50px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 1px solid var(--primeira-cor);
}

#avatar:hover {
    scale: calc(1.1);
    transition: 0.5s;
}

hr {
    width: 40px;
    position: relative;
    top: -40px;
}

.depoiments_cards_tittle {
    font-size: 17px;
    font-weight: 700;
}

.depoiments_cards_first p {
    text-align: center;
    font-size: 14px;
    padding: 1rem 2rem;
    line-height: 1.2rem;
}

/* Footer */

footer {
    display: block;
    justify-items: center;
    background-color: var(--decima-cor);
}

footer p {
    text-align: center;
    padding: 0.5rem 0 1.5rem 0;
    width: 80%;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: var(--primeira-cor);
}

footer img {
    margin: 3rem 1rem 1rem 1rem;
}

@media screen and (min-width: 1920px) {

    header {
        display: flex;
        align-items: center;
        margin: 2rem;
    }    
    
    /* Main */
    
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        padding: unset;
    }
    
    .photo {
        width: 32rem;
        height: 45rem;
        padding-left: 5rem;
        position: relative;
        top: -40px;
    }
    
    main h1 {
        font-size: 1.5rem;
    }
    
    #text {
        display: block;
        line-height: 1.5rem;
    }

    br {
        display: unset;
    }
    
    /* Knowledge */
    
    .knowledge h2 { /* verificar mobile */
        font-size: 4.5rem;
    }

    #subtittle {
        font-size: 1.8rem;
    }
    
    .knowledge__cards {
        justify-content: space-around;
        gap: 2rem;
        flex-wrap: wrap;
        margin: 2rem 15rem;
    }
    
    .cards {
        width: 300px;
        height: 250px;
        gap: 0.8rem;
    }
    
    /* Seção Projects */
    
    .projects {
        margin-top: 5rem;
    }
    
    /* Seção Projects - Slider */
    
    .slider {
        margin-top: 6rem;
        height: 700px;
    }
    
    .item {
        width: 600px;
        left: calc(50% - 300px);
    }
    
    .pages {
        height: 60%;
        border-radius: 5px;
        padding-bottom: 1rem;
    }
    
    #next, #prev{
        top: 40%;
        left: 400px;
    }
    
    #next{
        left: unset;
        right: 400px;
    }
    
    #final_text {
        position: relative;
        top: -50px;
    }
    
    #git:hover {
        font-size: larger;
        transition: 0.5s;
    }
    
    /* Depoiments */
      
    .depoiments_cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3rem 0 4rem 0;
    }
    
    #second, #fourth {
        position: relative;
        top: 40px;
    }
    
    #avatar {
        top: -60px;
        width: 120px;
        height: 120px;
    }
    
    /* Footer */
    
    footer {
        height: 200px;
    }
    
    footer p {
        width: 50%;
    }
}